@tailwind base;
@tailwind components;
@tailwind utilities;


.gZWFJY {
    border: 4px solid rgba(255, 255, 255, 0.4) !important;
    height: 44px !important;
    width: 44px !important;
}

.bJPQEq {
    height: 37px !important;
    width: 37px !important;

}

.jQKDzJ {
    margin-bottom: 10px !important;
}

.ffubkX {
    top: 70% !important;
}

/*button stop*/
.jODozX {


}

/*border stop*/
.kHXIrP {
    border: 4px solid rgba(255, 255, 255, 0.4) !important;
    height: 44px !important;
    width: 44px !important;

}

/*timer*/
.jODozX {
    width: 23px !important;
    height: 22px !important;
    margin: 7px !important;

}

.iHwaEB {
    top: 11px !important;
    right: 11px !important;
    font-size: 20px !important;

}

.bcKSjZ {
    width: 25px !important;
    height: 25px !important;

}

.jSXxzV {

}
